apiVersion: v1
kind: Secret
metadata:
  name: mysql-pass
type: Opaque
data:
  password: MYSQL_PASSWORD_BASE64
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-url
type: Opaque
data:
  password: YOUR_MINIO_URL_BASE64
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-access
type: Opaque
stringData:
  password: YOUR_MINIO_ACCESS
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
type: Opaque
stringData:
  password: YOUR_MINIO_SECRET
---
apiVersion: v1
kind: Secret
metadata:
  name: file-bucket-prefix
type: Opaque
stringData:
  prefix: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: github-oauth
type: Opaque
stringData:
  id: YOUR_GITHUB_OAUTH_ID
  secret: YOUR_GITHUB_OAUTH_SECRET
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vcc-domain
data:
  domain: YOUR_DOMAIN
